@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

.wrapper{
	width:1000px;
	margin:0 auto;
	}
	
.header{
	margin-right:20px;
}

.site_logo{
	float:left;
	width:372px;
	height:95px;
	margin:10px 0 0;
	
	position:relative;
}

.site_logo a{
	display:block;
}
.site_logo h1{
	font-size:1.1em;
	color:#acb0b0;
	font-family:helvetica, Georgia, serif, "Times New Roman", Times;
	position:absolute;
	right:10px;
	top:65px;
}
.userActions{
	float:right;
	width:200px;
}

.userActions .myAccount{
	background:#7e7e7e;
	border: 1px solid #7e7e7e;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow:hidden;
	padding:0 5px 2px;
	width:100px;
	float:right;
}

.userActions .myAccount ul li{
	float:left;
	padding:0 7px;
	margin-right:3px;
	background:url(../images/myacc-divider.gif) no-repeat 100% 50%;
}

.userActions .myAccount ul li.last{
	background:none;
	padding-right:4px;
}

.userActions .myAccount ul li a{
	color:#f4f4f4;
	font-size:1em;
	line-height:1.1em;
}
.userActions .myAccount ul li a:hover{
	color:#333;
}

.contactUsBtn{
	background:#46a8f8;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:7px;
	border: 1px solid #46a8f8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear:both;
	float:right;
	width:188px;
	padding:5px;
	margin:20px 0 0 0;
}

.contactUsBtn a{
	display:block;
	background:url(../images/tel-icon.jpg) no-repeat 0 0;
	padding:8px 0 10px 40px;
	font-size:2.2em;
	color:#FFF;
}

.contentHeader {
	clear:both;
	overflow:hidden;
	margin:0 20px 0px 5px;
}

.contentHeader .breadcrumb {
	float:left;
	width:70%;
	margin-right:5px;
}
.contentHeader .breadcrumb span{
	float:left;
	margin-right:2px;
}
.contentHeader .breadcrumb ul li{
	float:left;
}
.contentHeader .breadcrumb ul li a{
	display:block;
	float:left;
	color:#46a8f8;
}
.contentHeader .breadcrumb ul li .divider{
	float:left;
	margin:0 4px;
}
.contentHeader .searchArea{
	float:right;
}
.contentHeader .searchArea ul{
	float:left;
}
.contentHeader .searchArea ul li{
	float:left;
}
.contentHeader .searchArea ul li .searchInputfield{
	color:#7E7E7E;
	background:#eaeaea;
	border: 1px solid #d5d4d4;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right:0;
	padding:6px 2px 4px 4px;}
.contentHeader .searchArea ul li .searchSubitBtn{
	background:url(../images/search-btn.jpg) no-repeat 0 0;
	width:29px;
	height:26px;
	border:0;
	
}
.contentAreaContainer{
	margin-right:20px;
}

.bannerArea{
	width:100%;
	height:450px;
	position:relative
}

.bannerArea h2{
	position:absolute;
	top:5px;
	left:10px;
	margin:0;
}
.contentArea{
	background: url(../images/content-bg.png) no-repeat 0 0;
	clear:both;
	min-height:1000px;
	padding:30px 10px 5px;
	margin-top:-65px;
	position:relative;
	z-index:999;
}
.tabbedContentContainer{
	clear:both;
	float:left;
	padding:15px;
}
.tabbedContentContainer .tabbedContentNav{
	float:left;
	width:345px;
	background:url(../images/tab-content-shadow.png) no-repeat top right;
}


.tabbedContentContainer ul.tabbedNav{
	clear:both;
	overflow:hidden;
	margin:0px 0;
}

.tabbedContentContainer ul.tabbedNav li{
	clear:both;
	float:left;
	width:100%;
	margin-bottom:10px;
}

.tabbedContentContainer ul.tabbedNav li a{
	display:block;
	color:#aeaeae;
	font-size:1.8em;
	padding:10px 5px 10px 10px;
}

.tabbedContentContainer ul.tabbedNav li a.current,
.tabbedContentContainer ul.tabbedNav li a:hover{
	background:#FFF;
	color:#46a8f8;
	border: 0px solid #fff;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.tabbedContentContainer .tabbedContent{
	float:left;
	width:565px;
	min-height:600px;
	background:#FFF;
	padding:10px;
}
.tabbedContentContainer .tabbedContent p{
	font-size:1.4em;
}
.tabbedContentContainer .tabbedContent ul,
.tabbedContentContainer .tabbedContent ol{
	margin:10px 20px 20px 50px;
	clear:both;
	float:left;
}
.tabbedContentContainer .tabbedContent li{
	padding-left:10px;
	list-style:square;
	color:#666;
	font-size:1.4em;
	margin-bottom:5px;
}

.tabbedContentContainer .tabbedContent ol li{
	list-style:decimal;
}

.tabbedContentContainer .tabbedContent li strong{
	color:#46A8F8;
}
.tabbedContentContainer .portfolioExampes{
	float:left;
	margin-top:20px;
}
.tabbedContentContainer .portfolioExampes ul{
	margin:10px 0 10px 10px;
	float:left;
}
.tabbedContentContainer .portfolioExampes ul li{
	float:left;
	clear:none;
	margin-right:2px
}
.portfolioExampes h2{
	color:#46A8F8;
	font-size:2em;
	margin-left:10px;
}

.portfolioExampes .thumb{
	padding:3px;
	border:1px solid #AEAEAE;
}

.tooltip { 
	color: #7E7E7E;
	outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover img{
	border:1px solid #46A8F8;
}
.tooltip:hover span {
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	border:1px solid #333333;
	background:#FFFFFF;
	padding:5px;
	position: absolute; 
	left: 1em; 
	top: 2em; 
	z-index: 99;
	margin-left: 0; 
	width: 250px;
}
.tooltip span strong{
	color:#46A8F8;
}